
<div class="table-title">
  <div class="flex items-center justify-between">
    <div>
      <h2>Manage <b>Employees</b></h2>
    </div>
    <div  class="bg-green-600 p-2">
      <a  href="#" routerLink="/employee/create/" >Add New Employee</a>
    </div>
  </div>
</div>

<div class="container px-20 mt-16">
    <div class=" shadow-md sm:rounded-lg">
      <div>
        <form >
          <input class="w-full p-3 bg-gray-200 border-bottom border-black"  type="search" placeholder="Search" [(ngModel)]="serchText" [ngModelOptions]="{standalone: true}">
        </form>
      </div>
      <table class="table table-hover">
        <thead  >
          <tr>
            <th>ID</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
            <th>Gender</th>
            <th>DOB</th>
            <th>Experience</th>
            <th>Role</th>
            <th>Salary</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees() | search: serchText()">
            <td>{{ employee.id }}</td>
            <td>{{ employee.firstName}}</td>
            <td>{{ employee.lastName }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.gender }}</td>
            <td>{{ employee.DOB | date }}</td>
            <td>{{ employee.experience}} year</td>
            <td>{{ employee.role }}</td>
            <td>{{ employee.salary }} $</td>
            <td>
              <a href="#editEmployeeModal" [routerLink]="['/employee/' , employee.id , 'edit']" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
              <a href="#deleteEmployeeModal" (click)="deleteemployee(employee.id)" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
            </td>
          </tr>
          
        </tbody>
      </table>
    </div>
  </div>