<div class="container"> 
    <h1>employees panel</h1>
    <a href="#" routerLink="/employee/create/" class="btn btn-success">new employee</a>
    <table>

        <thead>
            <tr>
                <th>id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>phone no</th>
                <th>role</th>
                <th>jender</th>
                <th>salary</th>
            </tr>
           
        </thead>
    </table>
 
</div>
